
:root {
  /* These are dynamically adjusted in code to be the right size
     for the current zoom level: */
  --itemtype-bar-width: 5px;
  --heading-bar-height: 3px;
  --item-margin-width: 12px;  /* NOTE: not currently dynamically adjusted */
}

/* Z-index layout:
   Layer 0: Root HTML page.
   Layer 1: Stack/document panels.
   Layer 2: Stack panel mode indicator, "floating" item if there is one.
   Layer 3: Item tags.
   Layer 4: Error messages/notifications (not explicitly assigned z-index though).
   Layer 5: File Manager / User Guide popup panels, docked helptext panel.
*/

html {
  z-index: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #bbb;
  height: 100%;
}

body.inverse_video { filter: invert(100%); }
body.sepia { filter: sepia(10%) brightness(95%); }
body.hide_mouse_cursor { cursor: none; }

/* Root node of the React app. */
#root {
  width: 100%;
  height: 100%;

  /* Disable errant mouse text selection, more trouble than it's worth. */
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  /* Disable "font boosting" on Android Chrome and other mobile browsers.
     This boosting doesn't work well when mixed with KaTeX rendering. */
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

#panel_layout { height: 100%; }

div.panel {
  /* Default panel background color; should never be seen
     (each panel type should override the background color). */
  background-color: yellow;
  position: absolute;
  top: 0;  /* bounds are set in code (Settings.apply_layout_to_dom()) */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}  

#stack_panel {
  overflow-x: scroll;
  overflow-y: auto;
  /* Hide horizontal scrollbars for a cleaner look. */
  scrollbar-width: none;  /* hide scrollbars in stack panel (but not document) */
  box-shadow: inset 0 0 1.5em 0 #ccc;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}
/* webkit version of scrollbar-width: none */
#stack_panel::-webkit-scrollbar { display: none; }
body.sepia #stack_panel {
  /* For better contrast against document panel. */
  background-color: #f0f0f0;
}
body.eink_mode #stack_panel {
  /* Remove "tinting" for E-ink displays. */
  box-shadow: none;
  background-color: white;
}

/* NOTE: body.sepia #document_panel and body.eink_mode #document_panel rules
   could be added here to tune the panel background-color.  Not currently used. */

body.eink_mode #stack_panel.stack_on_bottom { border-top: 2px solid #888; }
body.eink_mode #stack_panel.stack_on_right { border-left: 2px solid #888; }
body.eink_mode #document_panel.stack_on_top { border-top: 2px solid #888; }
body.eink_mode #document_panel.stack_on_left { border-left: 2px solid #888; }

#stack_panel div.indicator {
  float: right;
  clear: right;  /* in case there's a "floating" stack item */
  position: relative; z-index: 2; /* keep it from being obscured by other stack items */
  margin-right: 0.25em;
  margin-top: 0.25em;
  font-size: 120%;
}
#stack_panel div.indicator span.notification {
  color: #151;
  background-color: #ffe;
  padding: 0.1em 0.2em;
  border: 1px solid #cca;
}
#stack_panel div.indicator span.highlighted { color: #393; font-weight: bold; font-family: monospace; }
#stack_panel div.indicator span.mode { color: #888; font-family: monospace; }

#stack_panel div.error_message {
  float: right;
  clear: right;
  position: relative; z-index: 2; /* keep it from being obscured by other stack items */
  background-color: #fdd;
  padding: 0.1em 0.2em;
  margin-right: 0.25em;
  margin-top: 0.25em;
  border: 1px solid #cbb;
  font-weight: bold;
  color: #800;
}

#stack_panel div.floating_item {
  float: right;
  position: relative; z-index: 2; /* keep it from being obscured by other stack items */
  padding: 0.05em 0.2em;
  padding-left: 0;  /* make itemtype bar look "correct" */
  margin-right: 0.25em;
  margin-top: 0.25em;
  border: 1px solid #ccc;
  background-color: #eee;
  box-shadow: inset 0 0 0.35em 0.1em #ccc;
}
div.floating_item div.tag_string {
  display: none;  /* tags get in the way in the "floating" item spot */
}

/* Error-flash CSS animations for stack and document panels.
   This requires a few hacks; see the comment in InputContext.error_flash_element().
   Note that:
     - The error flash animations start paused, and when triggered immediately ramp
       up to the error flash color before ramping back down to the original color.
     - The initial and final colors depend on the user-selected "theme" mode/filter
       (default, sepia, e-ink) so 3 versions of each animation are required.
     - Inverse-video (dark) filter mode needs no special handling here and is treated
       as the default mode as far as error flashes are concerned.
     - Due to the hack needed to retrigger the animation for subsequent error flashes,
       two identical copies of each animation are needed (suffixed with _1 and _2).
       These are alternated for each flash in code.
     - The document and stack panels can themselves have different backgrounds/styling,
       so this again doubles the number of @keyframe definitions needed.
     - Altogether, then, this takes 3*2*2 = 12 separate animations.
  TODO: Maybe make the error flash color (#fdd) into a CSS variable.
  TODO: Maybe try to modulate/mix background colors, or do something with the alpha
        channel instead of all the duplicated animations.
*/
/* NOTE: The following 2 rules are not strictly needed. */
#stack_panel { animation-name: errorflash_stack_1; }
#document_panel { animation-name: errorflash_document_1; }

#stack_panel, #document_panel {
  animation-duration: 0.5s;
  animation-play-state: paused;
}

@keyframes errorflash_stack_1 {
  /* Normal stack flash background color should match what is in the #stack_panel rule. */
  from { background-color: #f8f8f8; } 1% { background-color: #fdd; } to { background-color: #f8f8f8; } }
@keyframes errorflash_stack_2 {
  from { background-color: #f8f8f8; } 1% { background-color: #fdd; } to { background-color: #f8f8f8; } }
@keyframes errorflash_stack_sepia_1 {
  /* Sepia background matches body.sepia #stack_panel rule. */
  from { background-color: #f0f0f0; } 1% { background-color: #fdd; } to { background-color: #f0f0f0; } }
@keyframes errorflash_stack_sepia_2 {
  from { background-color: #f0f0f0; } 1% { background-color: #fdd; } to { background-color: #f0f0f0; } }
@keyframes errorflash_stack_eink_1 {
  /* E-ink mode background matches body.eink_mode #stack_panel. */
  from { background-color: white; } 1% { background-color: #fdd; } to { background-color: white; } }
@keyframes errorflash_stack_eink_2 {
  from { background-color: white; } 1% { background-color: #fdd; } to { background-color: white; } }

/* NOTE: Document panel initial/final flash background colors happen to not vary depending
   on the sepia/e-ink theme setting.  This could change at some point. */
@keyframes errorflash_document_1 {
  from { background-color: #fff; } 1% { background-color: #fdd; } to { background-color: #fff; } }
@keyframes errorflash_document_2 {
  from { background-color: #fff; } 1% { background-color: #fdd; } to { background-color: #fff; } }
@keyframes errorflash_document_sepia_1 {
  from { background-color: #fff; } 1% { background-color: #fdd; } to { background-color: #fff; } }
@keyframes errorflash_document_sepia_2 {
  from { background-color: #fff; } 1% { background-color: #fdd; } to { background-color: #fff; } }
@keyframes errorflash_document_eink_1 {
  from { background-color: #fff; } 1% { background-color: #fdd; } to { background-color: #fff; } }
@keyframes errorflash_document_eink_2 {
  from { background-color: #fff; } 1% { background-color: #fdd; } to { background-color: #fff; } }


#document_panel {
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 0.5em 0 #ccc;
}
#document_panel div.selected {
  background-color: #eee;
  box-shadow: inset 0 0 0.25em 0 #999;
}
body.eink_mode #document_panel div.selected {
  box-shadow: inset 0 0 1px 1px black;
}

div.document_items div.top_spacer { min-height: 0.5em; }
div.document_items div.bottom_spacer { min-height: 8em; }

/* Containing box for a complete "Item" either in the stack or the document. */
div.item {
  /* Snap margins for scrolling when the document selection changes. */
  scroll-margin-top: 0.5em;
  scroll-margin-bottom: 0.5em;
  /* These three rules expand the selection indicator (when the .selected class
     is applied) to the entire content of large items so that the indicator is
     still visible when scrolling the content, while still taking up the full
     visible width of the document container for smaller items. */
  width: fit-content;
  box-sizing: border-box;  /* include left type-indicator border in box width */
  min-width: 100%;
}

/* div.expr_item {}
   div.text_item {} */

div.latex_fragment {
  /* NOTE: vertical margins should match .katex-display margins below.
       This is to keep the inter-item spacing consistent between full
       math display mode and inline math mode (toggleable with [$][i]). */
  margin: 3px 0;
  margin-left: 0;
  padding-left: var(--item-margin-width);
}
div.latex_fragment span.katex-error { font-family: monospace; }
div.expr_item div.latex_fragment { border-left: var(--itemtype-bar-width) solid #aaa; }
div.text_item div.latex_fragment { border-left: var(--itemtype-bar-width) solid #99f; }

/* Highlight the stack item(s) that are the "target" for a stack (Tab)
   or array (|) command with an active prefix argument. */
div.expr_item div.highlighted { border-left-color: #555; }
div.text_item div.highlighted { border-left-color: #66d; }
div.separator_item.highlighted { border-left-color: #66d; }
div.latex_source_item.highlighted { border-left-color: #484; }
div.latex_fragment.highlighted:has(div.latex_error_message) { border-left-color: #833 !important; }

/* Override item type indicator bar if it contains a KaTeX error. */
div.latex_fragment:has(div.latex_error_message) {
  border-left: var(--itemtype-bar-width) solid #c44 !important;
  padding-right: var(--item-margin-width);
  /* Padding to allow the selection indication to be seen better. */
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
div.latex_fragment div.latex_error_message {
  font-family: monospace;
  font-weight: bold;
  overflow-wrap: break-word;
  color: #c00;
  background-color: #fee;
  padding: 0.2em 0.5em;
}
div.latex_fragment div.latex_source_with_error {
  font-family: monospace;
  overflow-wrap: break-word;
  color: black;
  background-color: #edd;
  padding: 0.2em 0.5em;
}

div.heading_style div.latex_fragment_inner {
  border-bottom: var(--heading-bar-height) solid #bbf;
  padding-top: 0.3em;
  margin-right: var(--item-margin-width);
  font-size: 125%;
  font-weight: bold;
}
body.eink_mode div.heading_style div.latex_fragment_inner { border-bottom-color: #666; }

div.separator_item {
  display: flex;
  align-items: center;  /* this will have a single <hr /> inside it to be centered vertically */
  height: 0.75em;
  border-left: var(--itemtype-bar-width) solid #99f;  /* should match div.text_item's color */
  padding: 0.2em 0;
}
div.separator_item hr {
  /* These hrules should visually look like the underline of section headings.
     Should match what is in div.heading_style div.latex_fragment_inner */
  height: var(--heading-bar-height);
  width: 100%;  /* for display: flex in parent */
  margin-left: var(--item-margin-width);
  margin-right: var(--item-margin-width);
  border: none;
  background-color: #bbf;
}
/* Separator lines in the floating item spot need an explicit width to be visible
   (since they're inside an container without a fixed width). */
div.floating_item div.separator_item hr { width: 4em; }

/* "Emphasized" expressions created with [.][e]
   Note that because of how KaTeX layout works, we only really have the foreground color to
   work with here (background and borders won't work right). */
.emphasized { color: #00f; text-shadow: 0 0 0.08em #88f; }
.emphasized2 { color: #f00; text-shadow: 0 0 0.08em #f88; }

/* Highlight emphasized \box commands with a box shadow. */
.emphasized span.fbox { box-shadow: inset 0 0 0.35em 0.1em #ccf; }
.emphasized2 span.fbox { box-shadow: inset 0 0 0.35em 0.1em #fcc; }

/* Highlight the selected subexpression(s) in "dissect" mode. */
.dissect_highlight_brace { color: #83c; }
.dissect_highlight {
  color: #f33;
  text-shadow: 0 0 0.16em #f88;
  animation: dissect_blink 0.75s steps(1) infinite;
}
@keyframes dissect_blink {
  0% { color: #c33; }
  50% { color: #40a; }
}

div.latex_source_item {
  border-left: var(--itemtype-bar-width) solid #bbcfbb;
  overflow-wrap: break-word;
  font-family: monospace;
  padding: 0.2em var(--item-margin-width);
  margin: 0.2em 0;
}
div.latex_source_item div.latex_source {
  padding-left: var(--item-margin-width);
  background-color: #dde8dd;
  padding: 0.2em 0.5em;
  overflow-wrap: anywhere;
}

div.tag_string {
  position: absolute;
  z-index: 3;
  width: auto;
  right: 0.5em;
  margin-top: 0.1em;
  padding: 0.25em 0.5em;
  font-weight: bold;
  font-family: monospace;
  color: #365;
  background-color: #e8ffe8;
  box-shadow: inset 0 0 0.2em 0 #275;
}

/* These are to support settings.layout.[stack/document]_math_alignment == 'right'. */
.rightalign_math .katex-display.fleqn > .katex {
  text-align: right;
  padding-left: 0;
  padding-right: 0.5em;
}
.rightalign_math .expr_item div.tag_string {
  left: 0.5em;
  right: initial;
}

.placeholder_expr { color: #6c6; }  

div.stack_items {
  position: absolute;
  width: 100%;
  bottom: 0;
}
body.eink_mode div.stack_items { border-bottom: none; }

div.stack_items div.text_entry {
  text-align: left;  /* overrides .rightalign_math if needed */
  font-family: monospace;
  font-size: 120%;
  border-top: 2px solid #aaa;
  /* background-color: #eef; */
  margin: 0.1em 0;
  padding: 0.25em 1.25em;
  color: black;
  white-space: break-spaces;
  overflow-wrap: break-word;
}

div.stack_items div.text_entry span.normal_character {}
div.stack_items div.text_entry span.cursor_character { color: white; background-color: #666; }
div.stack_items div.text_entry span.error_character { color: black; background-color: #faa; }
div.stack_items div.text_entry span.cursor_character.error_character { color: white; background-color: #c66; }

/* Different background colors for text entry depending on the mode. */
div.stack_items div.math_entry_mode { background-color: #eee; }
div.stack_items div.text_entry_mode { background-color: #eef; }
div.stack_items div.latex_entry_mode { background-color: #ded; }
div.stack_items div.conjunction_entry_mode { background-color: #fec; }
div.stack_items div.tag_entry_mode { background-color: #e8ffe8; }

div.stack_items div.latex_entry_mode::before {
  /* show an initial backslash at the beginning when in latex entry mode */
  content: "\\";
  font-weight: bold;
}
div.stack_items div.conjunction_entry_mode::before {
  content: "phrase: ";
  font-weight: bold;
  color: #620;
}
div.stack_items div.tag_entry_mode::before {
  content: "tag: ";
  font-weight: bold;
  color: #264;
}


/* User guide keybinding notation */
span.k {
  font-size: 120%;
  font-weight: bold;
  font-family: monospace;
  background-color: #eef8ee;
  color: #040;
  border: 1px solid #bdb;
  padding: 0 0.3em;
}
body.eink_mode span.k { border-color: black; }


#files_panel {
  display: none;
  overflow: auto;
  z-index: 5;
  top: 5%;
  height: 90%;
  left: 8%;
  width: 84%;
  background-color: white;
  box-shadow: 0 0 1em 2px #bbb;
  margin: 0;
  padding: 0;
}
div.files_container {
  margin: 0;
  padding: 0.5em 1em;
}
body.eink_mode #files_panel { border: 2px solid black; }
#files_panel h2, div.help h1 {
  border-bottom: 2px solid #ddf;
  margin: 0.5em 0;
}
body.eink_mode div.help h1 { border-bottom-color: #666; }
#files_panel div.current_file span.filename {
  padding-left: 0.5em;
  font-weight: bold;
  font-family: monospace;
}
table.file_table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: 0.5em 0;
}
body.eink_mode table.file_table { border: 1px solid black; }
table.file_table th { background-color: #ddd; text-align: left; }
table.file_table tr.selected_file td { background-color: #ddf; }
table.file_table td.filename { font-family: monospace; }
table.file_table tr.current_file td.filename { font-weight: bold; }
table.file_table th, table.file_table td { padding: 0.2em 0.5em; text-align: left; }
#files_panel div.storage_used { margin-bottom: 0.5em; }

#helptext { font-size: 105%; }
#helptext_panel {
  display: none;  /* will be set to display: block in code as needed */
  overflow: scroll;
  z-index: 5;  /* appear above #document_panel */
  background-color: white;
  box-shadow: 0 0 1em 2px #bbb;
}
body.eink_mode #helptext_panel.popup { border: 2px solid black; }
/* User Guide is visible in popup mode when 'popup' class is set. */
#helptext_panel.popup {
  z-index: 5;
  top: 5%;
  height: 90%;
  left: 8%;
  width: 84%;
}
/* User Guide is visible and docked into the documents area.
   In this case, it gets an absolute position and the bounds are set in code,
   same as #document_panel. */
#helptext_panel.docked {
  padding: 0;
  margin-bottom: 1em;
}
div.help { padding: 0.5em 1em; }
div.help .version_info {
  float: right;
  color: #888;
  font-family: monospace;
  text-align: right;
  font-size: 80%;
}
div.help h2 {
  font-size: 120%;
  border-bottom: 2px solid #ddd;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.25em;
  padding: 0.15em 0;
}
body.eink_mode div.help h2 { border-bottom-color: #666; }
div.help p { margin: 0.7em 0; }
div.help a { scroll-margin-top: 0.5em; }  /* snap margin for internal links within helptext */
div.help kbd { font-weight: bolder; color: #030; }

ul.keybindings {
  margin: 0;
  padding: 0;
  margin-left: 3em;
}
ul.keybindings li {
  list-style-type: none;
  text-indent: -2em;
  margin: 0.2em 0;
}
table.keybindings {
  border: none;
  border-collapse: collapse;
  margin: 0;
  margin-left: 0.5em;  /* try to match left-alignment of ul.keybindings */
}
table.keybindings td { padding: 0.1em 0.5em; }


/* KaTeX style tweaks: */

/* Adjust spacing and alignment of display math to make things more compact. */
.katex-display {
  margin: 3px 0;  /* should match what is in div.latex_fragment */
  padding: 2px 0;
  text-align: left;
}
.katex-display.fleqn > .katex { padding-left: 0; }

/* See: https://katex.org/docs/font.html */
.katex { font-size: 1.1em; }

